.img{
  font-weight: x-large;
 width: 1000px;
 margin-left: 15%;
 
}

.moi{
    float: left;
    margin-left: 100px;
}
.aliya{
    float: left;
    margin-left: 100px;
}
.saida{
    float: left;
    margin-left: 100px;
}
.aida{
    float: left;
    margin-left: 100px;
}
.membre{
    text-align: center;
    color: white;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 300px;
    background-color: crimson;
    width: 75%;
    height: 60%;
    margin-left: 15%;
    
   

}
#b{
    font-size: 22px;
     margin-top: 10%;

}
.mission{
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif; 
}
.i1{
    float: left;
    margin-left: 160px;
    margin-top: 8%;
}
.i2{
    float: left;
    margin-left: 160px;
    margin-top: 8%;
}
.i3{
    float: left;
    margin-left: 160px;
    margin-top: 8%;
}
.cours{
    text-align: center;
    margin-top: 3%;
    color:crimson;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 22px;
    margin-left:-5px;
}

    .b{
        font-size: 20px;
        margin-top: 10%;
        margin-top: 10px;
    }
    
.input1{
    margin-top: -16%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    
    margin-left: -60px;  
    height:50px;
    border-radius:80px;
    border-color: pink;
    background-color: white;
    color:pink;

}
.input2{
    margin-top: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
   
    margin-left: -60px;  
    height:50px;
    border-radius:80px;
    border-color:rgb(241, 49, 81);
    background-color: white;
    color:pink;
    margin-top: -7%;
}
    .color{
        background-color: gainsboro;
        text-align: center;
        width: 75%;
        height: 30%;
        margin-left: 15%;
        
        

    

}
/*smarphone*/
@media  screen and (min-width:320px) and (max-width:768px){

    .img{
        font-weight: x-large;
       width: 270px;
       height: 1000px;
       margin-left: 10px;
   
       
      }
      .mission{
        text-align: center;
        margin-top: -260%;
        color: brown;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 18px;
     
    }
    
        
    


            .moi{
                float: left;  
                margin-left: 0px;
            }
            .aliya{
                float: left;
                margin-left: 0px;
            }
                
            
            .saida{
                float: left;
                margin-left: 0px;
               
            }
            .aida{
                float: left;
                margin-left: 0px;}
                
    
    .membre{
        text-align: center;
        color: white;
        font-size: 8px;
        font-family: Arial, Helvetica, sans-serif; 
        margin-top: 800px;
        background-color: crimson;
        width: 100%;
        height: 85%;
        margin-left: 0%;
        padding-right: 10;
       
    }
        .color{
            background-color: gainsboro;
           
            text-align: center;
            width: 100%;
            height: 15%;
          
            float: left;
            margin-left: 0px;}
            .moi{
                float: left;
                margin-left: 50px;
                
            }
            .aliya{
                float: left;
                margin-left: 50px;
            }
            .saida{
                float: left;
                margin-left: 50px;
            }
            .aida{
                float: left;
                margin-left:50px;
            }


            .i1{
                float: left;
                margin-left: 90px;
                margin-top: 8%;
            }
            .i2{
                float: left;
                margin-left: 90px;
                margin-top: 8%;
            }
            .i3{
                float: left;
                margin-left: 90px;
                margin-top: 8%;
            }
            .input1{
                margin-top: -25%;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif; 
                
                margin-left: 0px;  
                height:50px;
                border-radius:60px;
                border-color: pink;
                background-color: white;
                color:pink;}

                .input2{
                   margin-top: 10%;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif; 
                   
                    margin-left: 0px;  
                    height:50px;
                    border-radius:60px;
                    border-color:rgb(241, 49, 81);
                    background-color: white;
                    color:pink;
                    }
                
            





    }
        